<%= form_with(model: idea, local: true, class: "p-4 border rounded shadow-sm bg-light") do |form| %>
  <% if idea.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(idea.errors.count, "error") %> prevented this idea from being saved:</h4>
      <ul>
        <% idea.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter the idea name" %>
  </div>
  <div class="form-group mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", placeholder: "Enter the idea description", rows: 4 %>
  </div>
  <div class="form-group mb-3">
    <%= form.label :picture, class: "form-label" %>
    <%= form.file_field :picture, class: "form-control" %>
  </div>
  <div class="text-center">
    <%= form.submit(@idea.persisted? ? "Update Idea" : "Create Idea", class: "btn btn-primary") %>
  </div>
<% end %>
